@model fubi_client.Models.Inventario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Inventario</h2>

<form asp-action="EditInventario" asp-controller="Inventario" method="post">
    <input type="hidden" asp-for="id_inventario" />

    <div class="mb-3">
        <label class="form-label">Nombre del Producto</label>
        <input type="text" asp-for="nombre" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Descripción del Producto</label>
        <textarea asp-for="descripcion" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Cantidad Disponible</label>
        <input type="number" asp-for="cantidad" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    <a href="@Url.Action("Index", "Inventario")" class="btn btn-secondary">Cancelar</a>
</form>
