@{
    Layout = "~/Views/Shared/Public_Layout.cshtml";
}

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrio un error al procesar su solicitud.</h2>

<a href="@Url.Action("Index", "Home")">Volver al inicio</a>