@model fubi_client.Models.Beneficiarios

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/js/Beneficiarios.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/beneficiarios.css" />
}

<section class="p-3">

    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-success text-center">@ViewBag.Mensaje</div>
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" id="error-message" role="alert">
            @ViewBag.ErrorMessage
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <h2>Crear Nuevo Beneficiario</h2>

    <form asp-action="CreateBeneficiario" asp-controller="Beneficiarios" method="post">

         <div class="mb-3">
            <label class="form-label">ID<span class="campos-requeridos">*</span></label>
            <input type="text" asp-for="id_beneficiario" class="form-control" placeholder="Ingrese el id del beneficiario" />
        </div>
        <div class="mb-3">
            <label class="form-label">Beneficiario<span class="campos-requeridos">*</span></label>
            <input type="text" asp-for="beneficiario" class="form-control" placeholder="Ingrese el nombre del beneficiario" />
        </div>

        <div class="mb-3">
            <label class="form-label">Cédula<span class="campos-requeridos">*</span></label>
            <input type="text" asp-for="cedula" class="form-control" placeholder="Ingrese la cédula" />
        </div>

        <div class="mb-3">
            <label class="form-label">Dirección<span class="campos-requeridos">*</span></label>
            <textarea asp-for="direccion" class="form-control" placeholder="Ingrese la dirección"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Teléfono<span class="campos-requeridos">*</span></label>
            <input type="text" asp-for="telefono" class="form-control" placeholder="Ingrese el número de teléfono" />
        </div>

        <div class="mb-3">
            <label class="form-label">Activo<span class="campos-requeridos">*</span></label>
            <select asp-for="activo" class="form-control">
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>
        </div>

        <div class="pt-3">
            <input type="submit" class="btn btn-success btn-md mr-2" value="Crear Beneficiario">
            <a href="@Url.Action("Index", "Beneficiarios")" class="btn btn-danger text-light btn-md">Cancelar</a>
        </div>
    </form>
</section>

<script>
    // Ocultar mensaje de error después de 5 segundos
    function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    (() => {
        let alert = document.getElementById('error-message');
        if (alert != null) {
            sleep(5000).then(() => {
                alert.style.display = 'none';
            });
        }
    })();
</script>
