@model fubi_client.Models.Beneficiarios

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/js/Beneficiarios.js"></script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/beneficiarios.css" />
}

<section class="p-3">
    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-secondary text-center">@ViewBag.Mensaje</div>
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" id="error-message" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }

    <h2>Editar Beneficiario</h2>

    <form asp-action="EditBeneficiarios" asp-controller="Beneficiarios" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Cedula</label>
            <input type="text" asp-for="cedula" class="form-control" readonly>
            <p>Este campo solo puede ser visualizado</p>
        </div>
        <div class="mb-3">
            <label class="form-label">Beneficiario<span class="campos-requeridos">*</span></label>
            <input type="text" asp-for="beneficiario" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Dirección<span class="campos-requeridos">*</span></label>
            <textarea asp-for="direccion" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Teléfono</label>
            <input type="text" asp-for="telefono" class="form-control">
        </div>
        
        
        
        <div class="pt-3">
            <input type="submit" class="btn btn-success btn-md mr-2" value="Actualizar">
            <a href="@Url.Action("Index", "Beneficiarios")" class="btn btn-danger text-light btn-md">Cancelar</a>
        </div>
    </form>
</section>

<script>

    function sleep(time) {
        return new Promise((resolve) => setTimeout(resolve, time))
    }
    (() => {
        let alert = document.getElementById('error-message');
        if (alert != null) {
            sleep(5000).then(() => {
                alert.style.display = 'none';
            });
        }
    })()
</script>
